body {
  background-color: #d3bd9a;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#game-title {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #5a3921;
  text-align: center;
  position: relative;
  right: 10vw;
}
#word-points {
  color: #5a3921;
  position: absolute;
  left: 25vw;
}

#new-point {
  color: #5a3921;
  position: absolute;
  left: 30vw;
}
#game-view {
  display: flex;
  align-items: center;
  max-width: 60vw;
}
#game-area {
  width: 60vw;
  height: 80vh;
  outline: solid 8px #5a3921;
  display: flex;
  align-items: center;
  background-image: url("../images/underground-shot.png");
}
#game-area-over {
  width: 60vw;
  height: 80vh;
  outline: solid 8px #5a3921;
  display: flex;
  align-items: center;
  background-image: url("../images/underground-shot.png");
}

#tunnel {
  border-top: solid 6px #5a3921;
  border-bottom: solid 6px #5a3921;
  width: 60vw;
  height: 60vh;
  flex-direction: column;
  position: relative;
  background-image: url("../images/background.webp");
  overflow: hidden;
}

#tunnel-over {
  border-top: solid 6px #5a3921;
  border-bottom: solid 6px #5a3921;
  width: 80vw;
  height: 60vh;
  flex-direction: column;
  position: relative;
  background-image: url("../images/background.webp");
}

#caterpillar {
  position: absolute;
  background-image: url("../images/caterpillar.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

#junk-food {
  position: absolute;
  background-image: url("../images/burger.png");
  background-size: 100%;
}

#veggies {
  background-image: url("../images/broccoli.png");
  position: absolute;
  background-size: 100%;
}

#game-over {
  color: #ff5959;
  text-align: center;
  font-size: 3vw;
}

#play-again {
  position: absolute;
  bottom: 10vw;
  left: 25vw;
  width: 10vw;
  height: 4vw;
  background-color: #d3bd9a;
  border-radius: 6px;
  color: #5a3921;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 1vw;
  border: #5a3921;
}
