body {
  background-color: #d3bd9a;
}

h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #5a3921;
  text-align: center;
}
#game-view {
  display: flex;
  align-items: center;
}
#game-area {
  width: 80vw;
  height: 80vh;
  outline: solid 8px #5a3921;
  display: flex;
  align-items: center;
  background-image: url("./underground-shot.png");
}
#game-area-over {
  width: 80vw;
  height: 80vh;
  outline: solid 8px #5a3921;
  display: flex;
  align-items: center;
  background-image: url("./underground-shot.png");
}

#tunnel {
  border-top: solid 6px #5a3921;
  border-bottom: solid 6px #5a3921;
  width: 80vw;
  height: 40vh;
  flex-direction: column;
  position: relative;
  background-image: url("https://media.giphy.com/media/jS2YNIz8bPi2kaaV1E/giphy.gif?cid=ecf05e47shuicxoyv2nci2o7xbol5wlywvuhk2k82esv2zwb&ep=v1_gifs_search&rid=giphy.gif&ct=g");
  overflow: hidden;
}

#tunnel-over {
  border-top: solid 6px #5a3921;
  border-bottom: solid 6px #5a3921;
  width: 80vw;
  height: 60vh;
  flex-direction: column;
  position: relative;
  background-image: url("https://media.giphy.com/media/jS2YNIz8bPi2kaaV1E/giphy.gif?cid=ecf05e47shuicxoyv2nci2o7xbol5wlywvuhk2k82esv2zwb&ep=v1_gifs_search&rid=giphy.gif&ct=g");
}

#caterpillar {
  position: absolute;
  background-image: url(./Oruga.png);
}

#junk-food {
  background-color: #ff5959;
  position: absolute;
}

#game-over {
  color: #ff5959;
  text-align: center;
  font-size: 3vw;
}

#play-again {
  position: absolute;
  bottom: 10vw;
  left: 35vw;
  width: 10vw;
  height: 4vw;
  background-color: #d3bd9a;
  border-radius: 6px;
  color: #5a3921;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 1vw;
  border: #5a3921;
}
